body {
    font-family: junicode, serif;
    background-color: khaki;
}

nav {
    float: left;
    background-color: rgba(173,216,230,0.5);
    min-width: 12.5vw;
    min-height: 100%;
    margin-right: 1vw;
}

main {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
}

h1 {
    text-align: center;
}

footer {
    color: rgba(128,128,128,0.5);
}

.subtitle {
    text-align: center;
}

.notfooter {
    min-height: 95vh;
}

.frontpage {
    height: auto;
    width: auto;
    max-height: 1000px;
    max-width: 1000px;
}

figure img {
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

.attribution {
    color: rgba(128,128,128,0.6);
    text-align: center;
    font-size: smaller;
}

:lang(ja),:lang(zh) {
    font-family: KouzanBrushFont, serif;
    font-size: larger;
}

:lang(ja) rt {
    font-family: serif;
    font-size: 60%;
}

:lang(zh) rt {
    font-family: serif;
    font-size: 60%;
}

.verbatim {
    quotes: none;
}

.dropcap {
    font-size: 200%;
    float: left;
}

.indent {
    padding-left: 20px;
}

.inarticle {
    height: auto;
    width: auto;
    max-height: 800px;
    max-width: 800px;
}

.footnote {
    color: grey;
}
